html {
    height: 100%;
    box-sizing: border-box;
    }

body {
    background-image: url("../images/hypnotize.png");
    }

.card-img-top {
    height:190px;
    width:100%;
    }

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 12px;
    color: #ccc;
    background-color: #4285F4;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    }